.button {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-family: inherit;
  font-weight: 500;
  border: 1px solid var(--primary);
  border-radius: 20px;
}

.orange {
  background-color: var(--primary);
  color: #FFFFFF;
}

.white {
  background-color: #FFFFFF;
  color: var(--primary);
}
