.bold {
  font-weight: 700;
}

.padding-top-12 {
  padding: 12px 0 0 0;
}

.gap-4 {
  gap: 4px;
}

.gap-24 {
  gap: 24px;
}

.gap-28 {
  gap: 28px;
}

.flex {
  display: flex;
}

.vertical-center {
  align-items: center;
}

.underlined {
  text-decoration: underline;
}
