@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--neutral-grey-two)
}

:root {
  --primary: #FF6600;
  --accent-red: #F5515F;
  --neutral-light: #FFF0E6;
  --neutral-grey-one: #EDF0F3;
  --neutral-grey-two: #999999;
  --neutral-dark: #333333;
}

.bold {
  font-weight: 700;
}

